USE [fgms]
GO
/****** Object:  Schema [events]    Script Date: 19/01/2025 12:58:05 am ******/
CREATE SCHEMA [events]
GO
/****** Object:  Schema [users]    Script Date: 19/01/2025 12:58:05 am ******/
CREATE SCHEMA [users]
GO
/****** Object:  Table [dbo].[MembershipUsers]    Script Date: 19/01/2025 12:58:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipUsers](
	[MembershipID] [int] IDENTITY(543000,1) NOT NULL,
	[FullName] [varchar](255) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[ContactNumber] [varchar](255) NULL,
	[EmailAddress] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MembershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 19/01/2025 12:58:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Session] [varchar](255) NULL,
	[Date] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Facilitators] [varchar](255) NULL,
	[Location] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTransactions]    Script Date: 19/01/2025 12:58:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[MembershipID] [int] NOT NULL,
	[PaymentMethod] [varchar](50) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ReferenceNumber] [varchar](20) NULL,
	[TransactionType] [varchar](20) NOT NULL,
	[CashierName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Admin]    Script Date: 19/01/2025 12:58:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [users].[Staff]    Script Date: 19/01/2025 12:58:05 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [users].[Staff](
	[ID] [int] IDENTITY(1300,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[DateHired] [date] NOT NULL,
	[ContactNumber] [varchar](15) NULL,
	[EmailAddress] [varchar](255) NULL,
	[Position] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserTransactions] ADD  DEFAULT (getdate()) FOR [DateTime]
GO
ALTER TABLE [dbo].[UserTransactions]  WITH CHECK ADD FOREIGN KEY([MembershipID])
REFERENCES [dbo].[MembershipUsers] ([MembershipID])
GO
